[submodule "api"]
	path = api
	url = https://github.com/kubernetes/api
[submodule "k8s.io/apimachinery"]
	path = kubernetes/apimachinery
	url = https://github.com/kubernetes/apimachinery
[submodule "kubernetes/api"]
	path = kubernetes/api
	url = https://github.com/kubernetes/api
